# SPDX-License-Identifier: MIT

[Unit]
Description=Interactive setup wizard
Before=sddm.service display-manager.service
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service systemd-logind.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=3600
ExecStart=/usr/bin/startx /usr/bin/first-time-setup.sh

[Install]
WantedBy=multi-user.target
